<h1>Activities</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{ activity.id }}</td>
      <td>{{ activity.name }}</td>
      <td>{{ activity.dueDate | date }}</td>
      <td>
        <div class="button-group">
          <button (click)="editActivity(activity.id)">Edit</button>
          <button (click)="deleteActivity(activity.id)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button class="router-link" routerLink="/activities/new">Add New Activity</button>
